PORT=5000
MONGODB_URI=mongodb+srv://mydatabase:myrealdatabase@cluster0.nzmws71.mongodb.net/tododb?retryWrites=true&w=majority
JWT_SECRET=N7vlT4mEp8kergLWRDb9HQZS2sVBnYKo
JWT_EXPIRES_IN=7d
NODE_ENV=development

